---
layout: default
title:  News
---
<div class="container" id="content">
    {% for post in site.posts %}
    <div class="post">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">
            {% if post.icon %}
            <i class="fa {{ post.icon }}"></i>
            {% else %}
            <i class="fa fa-pencil"></i>
            {% endif %}
            {{ post.title }}
        </a></h1>

        {{ post.excerpt }}
        <p><a href="{{ site.baseurl}}{{ post.url }}">Read more&hellip;</a></p>

        <ul class="meta">
            <li><i class="fa fa-fw fa-calendar"></i> {{ post.date | date_to_string }}</li>
            <li><i class="fa fa-fw fa-user"></i> {{ post.author }}</li>
            <li><i class="fa fa-fw fa-comments"></i> <a href="{{ site.baseurl}}{{ post.url }}#disqus_thread">{{ post.title }}</a></li>
            <li><i class="fa fa-fw fa-tags"></i>&nbsp;&nbsp;{{ post.tags }}</li>
        </ul>
    </div>
    {% endfor %}
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'eox-github'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
