<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.title }}">
        <meta name="author" content="Stephan Meissl">

        <link rel="shortcut icon" href="{{ site.baseurl}}/assets/favicon.ico"/>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css">

        <!-- Bootstrap -->
        <link href="{{ site.baseurl}}/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl}}/css/main.css">

    </head>
    <body>

        <div class="container">

            <!-- Twitter Bootstrap navbar -->
            <div class="header">
                    <div class="navbar-inner">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <div class="nav-collapse">
                            <ul class="nav nav-pills pull-right">
                                <li{% if page.url == "/index.html" %} class="active"{% endif %}><a href="{{ site.baseurl}}/">Home</a></li>
                                <li{% if page.url != "/index.html" and page.url != "/sponsoring/index.html" %} class="active"{% endif %}><a href="{{ site.baseurl}}/blog/">Blog</a></li>
                                <li{% if page.url == "/sponsoring/index.html" %} class="active"{% endif %}><a href="{{ site.baseurl}}/sponsoring/">Sponsoring</a></li>
                            </ul>
                            <h3 class="text-muted">{{ page.title }}</h3>
                        </div>
                    </div>
            </div>

            <div class="jumbotron">
                <h1><a href="http://osgeo.org"><img src="/assets/Logo-OSGeo.png" alt="Open Source Geospatial Foundation" title="Open Source Geospatial Foundation"></a> Vienna Code Sprint 2014</h1>
                <p>Gold Sponsors</p>
                TBA
                <p>Silver Sponsors</p>
                TBA
                <p>Bronze Sponsors</p>
                TBA
                <p>Venue Sponsor</p>
                <a href="http://www.wien.gv.at/english/administration/ict/index.html" title="City of Vienna MA 14"><img src="/assets/Logo-City-of-Vienna.png" alt="City of Vienna MA 14" title="City of Vienna MA 14"/></a>
                <p>Other/in-kind sponsors</p>
                <a href="http://eox.at"><img src="/assets/Logo-EOX.png" alt="EOX IT Services GmbH" title="EOX IT Services GmbH"></a>
            </div>

            <div class="main-content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>

            <div class="footer">
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
            </div>

        </div> <!-- container -->

        <!-- Bootstrap -->
        <script src="{{ site.baseurl}}/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="//code.jquery.com/jquery.js" type="text/javascript"></script>

    </body>
</html>
